@import "./reset/_vars"
@import "./reset/_reset"
@import "./assets/_menu"

@keyframes header
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

.fixed
  overflow-y: hidden
  display: block
  position: relative
  background-color: #fff
  max-width: calc(100% - 10px)
  .header
    &.scrolled
      right: auto
      max-width: calc(100% - 10px)
    &::after
      height: 100%
      width: 10px
      right: -10px
      top: 0
      position: absolute
      background-color: #fff
      content: ''  

@media (max-width: 992px)
  .fixed
    padding-right: 0
    max-width: 100%
    .header
      &.scrolled
        max-width: 100%
        &::after
          display: none
body
  min-height: 5000px

.roboto
  display: block
  font-family: "Roboto Flex", sans-serif
  font-style: normal
  font-weight: 800
  font-stretch: 151%
  letter-spacing: -3%
  font-optical-sizing: auto
  font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 485, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 544, 'YTUC' 643, 'slnt' 0, 'wdth' 151

@keyframes header
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

@media (min-width: 992px)
  .header
    display: block!important
    position: absolute
    z-index: 10
    width: 100%
    transition: 0
    top: 0
    padding-top: 40px
    padding-bottom: 40px
    

    nav
      ul
        li
          margin: 0 9px
          display: block
          a, span
            display: block
            white-space: nowrap
            color: $text
            transition: .2s
            font-weight: 500
          &.menu-item-has-children
            position: relative
            &.opened
              &>a,&>span
                &::after
                  transform: translateY(-50%) rotate(180deg)
            &> a, &> span
              position: relative
              padding-right: 24px
              &::after
                position: absolute
                content: ''
                height: 24px
                width: 24px
                background-repeat: no-repeat
                background-size: contain
                background-image: url(../img/icons/menu-arr.svg)
                transition: .2s
                right: 0
                top: 50%
                transform: translateY(-50%)
            &::after
              position: absolute
            ul
              position: absolute
              display: none
              background-color: #fff        
              box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08)
              padding: 24px
              border-radius: 24px
              left: -24px
              top: calc(100% + 25px) 
              li
                display: block
                margin-bottom: 10px
                &:last-child
                  margin-bottom: 0
                a, span
                  display: block
                  width: 100%
                  font-size: 16px
                  font-weight: 400
                  font-family: $font
              &::after
                position: absolute
                content: ''
                height: 25px  
                top: -25px
                width: 100%
                left: 0 
          a:hover
            color: $hover
    .catalog-toggle
      display: flex
      align-items: center
      justify-content: flex-start
      margin-right: 9px
      cursor: pointer
      &:hover
        svg path
          stroke: $hover
        span
          color: $hover
      &.active
        .icon
          .opened
            opacity: 1
            z-index: 5
          .closed
            opacity: 0
            z-index: 1
      .icon
        margin-right: 10px
        position: relative
        width: 24px
        height: 24px
        svg
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
        .opened
          opacity: 0
          z-index: 1
        .closed
          opacity: 1
          z-index: 5
      span
        display: block
        font-weight: 500
        white-space: nowrap
        transition: .2s
        font-size: 16px
        line-height: 1.2
    .right, .left
      display: flex
      align-items: center
      justify-content: flex-start
    .right
      justify-content: flex-end
      width: max-content
    .social
      margin-right: 24px
      display: flex
      justify-content: flex-end
      align-items: center
      a
        height: 40px
        width: 40px
        min-width: 40px
        border-radius: 12px
        transition: .2s
        background-color: $text
        margin-left: 10px
        display: flex
        justify-content: center
        align-items: center
        &:hover
          background-color: $hover
    .phone
      font-size: 16px
      font-weight: 800
      line-height: 1
      white-space: nowrap
      transition: .2s
      display: block
      letter-spacing: -0.5px
    .email
      font-size: 15px
      font-weight: 400
      line-height: 1.2
    .phone-toggle
      cursor: pointer
      display: block
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: center
      position: relative
      padding-right: 26px
      &.active
        .icon
          transform: translateY(-50%) rotate(180deg)
      .icon
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        transition: .2s
    .wrap
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: nowrap
    .phones-wrap
      position: absolute
      background-color: #fff
      display: none
      right: -34px
      top: calc(100% + 17px)
      border-radius: 24px 
      background-color: #fff
      padding: 24px
      width: 250px
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08)
      .button
        height: 54px
        width: 100%
        max-width: 100%
      a, b
        font-size: 18px
        letter-spacing: -0.5px
        line-height: 1
        white-space: nowrap
        display: block
        margin-bottom: 4px
      span
        display: block
        font-size: 16px
        line-height: 1.2
        color: $gray_500
        margin-bottom: 16px
    .wrap
      display: flex
      justify-content: space-between
      align-items: center
    .logo
      display: flex
      justify-content: flex-start
      align-items: center
      width: 190px
      margin-right: 36px
      min-width: 190px
    &.header-open-menu
      background-color: #fff
      z-index: 40
      transition: .2s
      box-shadow: none!important
    &.scrolled
      z-index: 40
      transition: 0
      padding: 20px 0
      background-color: #fff
      position: fixed
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08)
      transform: translateY(-100%)
      animation-name: header
      animation-duration: 1s
      animation-delay: 1s
      animation-fill-mode: forwards
      
  .pc-catalog
    position: fixed
    top: 120px
    background-color: #fff
    max-height: calc(100% - 120px)
    left: 0
    right: 0
    width: 100%
    z-index: 30
    border-top: 1px solid $gray_200
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10)
    padding-top: 30px
    padding-bottom: 70px
    overflow-y: auto
    -ms-overflow-style: scrollbar
    &.scrolled
      top: 80px
      max-height: calc(100% - 80px)
    &::-webkit-scrollbar //скроллбар
      width: 6px 
      background-color: $bg
    &::-webkit-scrollbar-thumb //ползунок
      background: $text
      border-radius: 4px
    &::-webkit-scrollbar-button:vertical:start:decrement
      background: linear-gradient(120deg, $bg 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, $bg 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, $bg 30%, rgba(0, 0, 0, 0) 31%)
      background-color: $bg
    &::-webkit-scrollbar-button:vertical:end:increment
      background: linear-gradient(300deg, $bg 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, $bg 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, $bg 30%, rgba(0, 0, 0, 0) 31%)
      background-color: $bg
    .wrap
      display: flex
      flex-wrap: nowrap
      justify-content: flex-start
      .right
        width: calc(100% - 500px)
        padding-left: 40px
        .wrapper
          width: 100%
          display: flex
          justify-content: space-between
          align-items: flex-start
          flex-wrap: wrap
          display: none
          .sub-list
            width: calc(50% - 20px)
            &-menu
              display: block
              margin-bottom: 20px
              a, span
                transition: .2s
                display: block
                font-size: 16px
                line-height: 1.2
                font-weight: 400
                color: $text
                margin-bottom: 10px
              a:hover
                color: $hover
            &-title
              font-size: 18px
              font-weight: 800
              line-height: 1
              letter-spacing: -0.5px
              margin-bottom: 16px
      .left
        width: 500px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        .item-wrapper
          width: calc(50% - 20px)
          margin-bottom: 13px
          display: block
        .item
          transition: .2s
          cursor: pointer
          display: flex
          width: 100%
          align-items: center
          justify-content: flex-start
          &:hover, &.active
            .icon
              background-color: $brand_light
            p
              color: $hover
          .icon
            min-width: 60px
            display: flex
            align-items: center
            justify-content: center
            height: 60px
            width: 60px 
            background-color: $gray_50
            border-radius: 16px
            margin-right: 16px
            transition: .2s
            img
              width: 40px
          p
            font-weight: 800
            line-height: 1
            color: $text
            font-size: 18px
            letter-spacing: -0.5px
            margin: 0
            transition: .2s

  .home-offer
    min-height: 780px
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    margin-bottom: 120px
    .text-line
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      white-space: nowrap
      background-color: $text
      padding-top: 25px
      padding-bottom: 25px
      position: absolute
      bottom: -37px
      left: 50%
      transform: translateX(-50%) rotate(2.2deg)
      .marquee
        display: flex
        animation: marquee 120s linear infinite
        width: max-content
        div
          display: flex
          flex-shrink: 0 // предотвращает сжатие содержимого
      .icon
        display: inline-block
        margin-right: 16px
        margin-left: 16px
      span
        display: inline-block
        color: #fff
        font-family: "Roboto Flex", sans-serif
        font-weight: 800
        font-stretch: 151%
        letter-spacing: -0.7px
        line-height: 1
        font-size: 24px
        text-transform: uppercase
        font-optical-sizing: auto
        font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 485, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 544, 'YTUC' 643, 'slnt' 0, 'wdth' 151
    @keyframes marquee
      0%
        transform: translateX(0)
      100%
        transform: translateX(-50%)
    .btns
      display: flex
      justify-content: flex-start
      align-items: center
      .button
        margin-right: 30px
    .feat
      display: flex
      align-items: center
      justify-content: flex-start
      .icon
        margin-right: 10px
      span
        font-size: 16px
        font-weight: 400
        line-height: 1.2
        display: block
    .wrap
      display: block
      padding-top: 191px
      padding-bottom: 180px
      position: relative
    .photo
      position: absolute
      bottom: 0
      right: -100px
    .subtitle
      font-size: 18px
      max-width: 480px
      line-height: 1.2
      margin-bottom: 54px
    h1
      font-size: 78px
      max-width: 745px
      font-weight: 800
      line-height: 1
      margin-bottom: 16px












  







  







  







  







  







  

